@model Vidly.Models.Movie
@{
    ViewBag.Title = "MovieForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movie Form</h2>

@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ReleaseDate)
        @Html.TextBoxFor(m => m.ReleaseDate, new { @class = "form-control",@Value="1 Jan 0001" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Genre)
        @Html.TextBoxFor(m => m.Genre, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NoInStock)
        @Html.TextBoxFor(m => m.NoInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NoInStock)
    </div>
    @Html.HiddenFor(m=> m.Id,new {@value=Model.Id })
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary"> Save </button>
}