@model Vidly.View_Models.CustomerFormViewModel
@{
    ViewBag.Title = "Customer Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Customer</h2>

@using (Html.BeginForm("Save", "Customers"))
{

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Birthdate)
        @Html.TextBoxFor(m => m.Customer.Birthdate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Birthdate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MemberShipTypeID)
        @Html.DropDownListFor(m => m.Customer.MemberShipTypeID, new SelectList(Model.MembershipTypes, "Id", "MembershipName"), "Select MemberShip Type", new { @class = "form-control" })
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsLetter) Subscribe to news Letter?
        </label>
    </div>
    if (Model.Customer != null)
    {
        @Html.HiddenFor(m => m.Customer.Id, new { @value = Model.Customer.Id })
    }
    else
    {
        @Html.HiddenFor(m => m.Customer.Id, new { @value = "0" })
    }
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary"> Save</button>


}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

}